/* common.css */

html
{
    background-color: #111827;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    transition: color .3s;
}

/* ----- G L O B A L - A C T I O N S ----- */
.globalLinks {
    color: #e4e6ea;
    background-color: #1f2937;
    padding: 10px;
    border-radius: 10px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.globalLinks:hover {
    background-color: #13e0ff;
    color: #1f2937;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ----- A R I A N N E ----- */
.arriane {
    display: flex;
    justify-content: left;
    color: #10bfd9;
}

.arriane a:hover {
    color: #13e0ff;
}

.arriane p {
    margin: 0 10px 0 10px;
}

/* ----- N E W - F O R M ----- */
.newForm {
    margin-top: 30px;
    background-color: #1f2937;
    border-radius: 8px;
    color: whitesmoke;
    padding: 20px;
}

.newForm .titleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newForm h1 {
    font-size: 40px;
}

.newForm input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(63, 177, 196, 0.85);
    color: whitesmoke;
}

.newForm button {
    padding: 8px;
    border-radius: 4px;
    background-color: #10bfd9;
    color: #1f2937;
}

.newForm textarea {
    width: 80%;
    background-color: rgba(63, 177, 196, 0.85);
    color: whitesmoke;
}

.newForm select {
    background-color: rgba(63, 177, 196, 0.85);
    color: whitesmoke;
}

.newForm button:hover {
    background-color: #13e0ff;
}

/* ----- E D I T - F O R M ----- */
.editForm {
    margin-top: 30px;
    background-color: #1f2937;
    border-radius: 8px;
    color: whitesmoke;
    padding: 20px;
}

.editForm .titleBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.editForm h1 {
    font-size: 40px;
}

.editForm .titleBox h1{
    color: #10bfd9;
}

.editForm h2 {
    font-size: 20px;
    color: white;
}

.editForm input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(63, 177, 196, 0.85);
    color: whitesmoke;
}

.editForm button {
    padding: 8px;
    border-radius: 4px;
    background-color: #10bfd9;
    color: #1f2937;
}

.editForm textarea {
    width: 80%;
    background-color: rgba(63, 177, 196, 0.85);
    color: whitesmoke;
}

.editForm select {
    background-color: rgba(63, 177, 196, 0.85);
    color: whitesmoke;
}

.editForm button:hover {
    background-color: #13e0ff;
}

/* ----- G E T - Z O N E ----- */
.getZone{
    margin-top: 30px;
    background-color: #1f2937;
    border-radius: 8px;
    color: whitesmoke;
    padding: 20px;
}

.getZone button {
    padding: 8px;
    border-radius: 4px;
    background-color: #10bfd9;
    color: #1f2937;
}

.getZone .active-content-data{
    display: flex;
    justify-content: space-evenly;
}

.getZone .trigger-data{
    width: 100%;
    padding: 10px;
    text-align: center;
    transition: color .3s, background-color .3s;
}

.getZone .trigger-data:hover{
    color: #10bfd9;
    background-color: #2c3c51;
}

.getZone .trigger-data button{}

.getZone .trigger-data button:hover{}

.getZone .titleBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.getZone h1{
    font-size: 40px;
}

.getZone i{
    color: grey;
}

.getTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: whitesmoke;
    background-color: #374151;
}

.getTable th{
    background-color: #10bfd9;
}

.getTable tr:nth-child(odd){
    background-color: #4e5c73;
}

.getTable td{
    padding: 5px;
}

.getTable h1{
    padding: 5px;
}

.getZone #detailsDiv{
    text-align: center;
}

/* ----- C R U D Z O N E ----- */
.crudzone {
    margin-top: 20px;
}

.crudtable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: whitesmoke;
    background-color: #374151;
    height: 400px;
    overflow-y: scroll;
}

.crudtable th,
.crudtable td {
    border: 1px solid #e5e7eb;
    border-collapse: collapse;
    padding: 8px;
    text-align: left;

}

.crudtable th {
    background-color: #1f2937;
    color: white;
}

.modalLinks {
    color: #10bfd9;
    transition: color .1s ease-in-out;
}

.modalLinks:hover {
    color: #13e0ff;
}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: normal;
    height: 100%;
}

.action-buttons .crudIcon {
    padding: 8px; /* Adjust the padding for larger screens */
}

.action-buttons .crudIconDelete,
.action-buttons .crudIconEdit,
.action-buttons .crudIconView {
    background-color: #00a5de;
    transition: background-color .3s ease-in-out;
    padding: 8px; /* Adjust the padding for larger screens */
}

.action-buttons .crudIconDelete:hover,
.action-buttons .crudIconEdit:hover,
.action-buttons .crudIconView:hover {
    background-color: #10bfd9;
}

.table-responsive {
    overflow-x: auto;
}

@media only screen and (max-width: 600px) {
    .crudtable th,
    .crudtable td {
        font-size: 14px;
        padding: 6px;
    }

    .crudtable th {
        padding: 8px;
    }

    .action-buttons .crudIconDelete,
    .action-buttons .crudIconEdit,
    .action-buttons .crudIconView {
        padding: 6px;
    }
}


/* ----- M O D A L ----- */
.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal-content {
    width: 400px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}

/* ----- A C T I V I T Y ----- */
.activitiesSelect{

}
